/* Add these styles to your component's CSS file or define them in your component */

.fade-in {
    opacity: 0;
    animation: fadeIn ease-in-out 1.5s;
}

@keyframes fadeIn {
    from {
        opacity: 0.5;
    }

    to {
        opacity: 1;
    }
}