@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
    100% {
        transform: translateX(0);
    }
}

.custom-animation {
    animation: fadeInLeft .5 ease-out 1s forwards; /* 1s delay */
}